@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sembunyikan scroll bar di kanan secara global */
::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
}

html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
}
